{% extends "base.html" %}
{% block title %}Order Tracking{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col col-md-8 offset-md-2 alert alert-primary text-black text-center">
        <span class="h3">📦 INVENTORY REPORT 📦</span>
    </div>
</div>

{% regroup inventories by product as product_list %}
{% regroup product_list by grouper.category as category_list %}

{% for category in category_list %}
<div class="row">
    <div class="col col-md-8 offset-md-2">
            <div class="row flex-row align-items-center border-bottom">
                <span class="col col-10"><em>{{ category.grouper.description }}</em></span>
                <div class="row">
                    <div class="col col-md-8 offset-md-2">
                        <div class="row bg-light text-white border-bottom border-dark">
                            <span class="col col-4 text-dark">Product</span>
                            <span class="col col-4 text-dark text-end">Unit Price ($)</span>
                            <span class="col col-4 text-dark text-end">Quantity</span>
                        </div>
                        {% for product in category.list %}

                        <div class="row flex-row align-items-center border-bottom">
                            {% for inventory in product.list %}
                            <span class="col col-4">{{ inventory.product.description }}</span>
                            <span class="col col-4 text-end">{{ inventory.unit_price }}</span>
                            <span class="col col-4 text-end">{{ inventory.quantity }}</span>
                            {% endfor %}         
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
